body {
  margin: 0;
  width: 100vw;
  height: 100vh;

  overflow: hidden;

  background-size: contain;
  background-repeat: repeat;
  background-position: center top;
}

svg {
  width: 100vw;
  margin-top: calc(15vh - 12.5vw);
  margin-left: 12.5vw;
}

#name,
.name {
  width: 100vw;
  fill: #000000;
  font-family: "Tungsten1";
  font-size: calc(0.5vw + 4vh);
  letter-spacing: -0.125vw;
}

#number {
  position: absolute;
  top: 15vh;
  left: 1vw;

  width: 100vw;

  color: #000000;
  -webkit-text-stroke: calc(0.25vh + 0.2vw) white;
  text-align: center;
  font-family: "Trailblazers";
  font-weight: bold;
  font-size: calc(12.5vh + 10vw);
  line-height: 0;
}

.jerseySide {
  position: absolute;
  top: 0;
  height: 100vh;
  width: 100vw;

  background-size: contain;
  background-repeat: no-repeat;
}

#topSide {
  background-position: center top;
}

#leftSide {
  background-position: left top;
  left: 0;
}

#rightSide {
  background-position: right top;
  right: 0;
}
