@font-face {
  font-family: "Tungsten";
  src: url("./Tungsten-Semibold.woff2");
}

@font-face {
  font-family: "Assiduous";
  src: url("./Assiduous.ttf");
}

body {
  min-height: 250vw;
  background-size: cover;
  background-position: center top;
}

svg {
  width: 100vw;
  margin-top: 30vw;
  margin-left: 12.5vw;
  font-size: 10vw;
}

#name,
.name {
  width: 100vw;

  fill: #0c2340;
  font-family: "Tungsten";
  font-size: 6vw;
  letter-spacing: -1px;
}

#number {
  position: absolute;
  top: 7.5vw;

  width: 100vw;

  color: #0c2340;
  -webkit-text-stroke: 10px white;
  text-align: center;
  font-family: "Agency fb";
  font-weight: bold;
  font-size: 50vw;
}
