@font-face {
  font-family: "Indivisible";
  src: url("./IndivisibleWebVF.woff2");
}

@font-face {
  font-family: "Tungsten";
  src: url("./Tungsten-Semibold.woff2");
}

@font-face {
  font-family: "Agency FB";
  src: url("./agencyfb_reg.ttf");
}

@font-face {
  font-family: "Assiduous";
  src: url("./Assiduous.ttf");
}

body {
  display: flex;
  justify-content: space-evenly;
  align-items: center;

  font-family: "Indivisible", "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

form {
  width: calc(100vw / 3);
  display: flex;
  flex-direction: column;
  justify-content: start;
}

form * {
  font-family: "Indivisible", "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

select {
  appearance: none;
  @supports (appearance: base-select) {
    &,
    &::picker(select) {
      appearance: base-select;
    }
  }
}

option {
  background-color: #eee;

  font-size: 2vh;
  font-weight: bold;
}

option {
  border: 0.25vw solid transparent;
}

option:hover {
  border-color: black;
}

::picker(select) {
  border: none;
}

option:first-child,
option:first-of-type {
  border-radius: 0.25vw 0.25vw 0 0;
}

option:last-child
option:last-of-type {
  border-radius: 0 0 0.25vw 0.25vw;
}



select, input, button {
  min-height: 2vh;
  height: fit-content;
  width: 50%;

  margin: 0 0 1vh;
  padding: 1vw;
  border: #bbb 0.125vw solid;
  border-radius: 5vw;
}

#jersey {
  width: 20vw;
  height: 50vw;
  background-image: url("../jerseys/INDStaBack.png");
  background-size: cover;
  background-position: center top;
}

svg {
  width: 20vw;
  margin-top: 6vw;
  margin-left: 2.5vw;
  font-size: 2vw;
}

#name,
.name {
  width: 20vw;

  fill: #0c2340;
  font-family: "Tungsten";
  font-size: 6vw;
  letter-spacing: -1px;
}

#number {
  position: absolute;
  top: 1.5vw;

  width: 20vw;

  color: #0c2340;
  -webkit-text-stroke: 1px white;
  text-align: center;
  font-family: "Agency fb";
  font-weight: bold;
  font-size: 10vw;
}

.jerseySide {
  width: 20vw;
  height: 50vw;

  position: relative;
  top: 0;

  background-size: contain;
  background-repeat: no-repeat;
}

#leftSide {
  background-position: left top;
  left: 0;
  margin-top: calc(-1 * 21.3vw);
}

#rightSide {
  background-position: right top;
  right: 0;
  margin-top: -50vw;
}
